@media screen and (min-width: 999px) {
    .notification {
        width: 420px !important;
        margin-right: 75px !important;
    }
    
    .notification.active {        
        bottom: 0px !important;        
        opacity: 1 !important;
    }

    .notification:not(.active) {        
        bottom: -65px !important;
        opacity: 0 !important;
    }
}

.notification {
    position: absolute;        
    right: 0;
    color: #ffffff;
    width: 100%;
    background: #4a4a4a;
    transition: linear 0.3s;    
    padding: 15px;
    z-index: 4;
}

    .notification.active {        
        bottom: 65px;
        opacity: 1;
    }

    .notification:not(.active) {        
        bottom: 0px;
        opacity: 0;
    }

.buttons {
    float: right;
}

    .buttons button {
        background: none;
        border: none;
        color: #4DB6AC;
        font-weight: bold;
        text-transform: uppercase;
    }
