.point {
    cursor: pointer;
}

.point:hover {
    background: #ECEFF1;
}

.point-image {
    width: 30px;
    height: 30px;
    float: left;    
    color: #ff9800;
}

.stats {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.stats > div{
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 7px;
    background: #009688;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 3px #989898;
}

.stat-number{
    float: right;
    line-height: 28px;
    font-weight: bold;
    margin-left: 3px;
}