<ng2-slim-loading-bar [color]="'#009688'" [height]="'2px'"></ng2-slim-loading-bar>
<h1 class="title">{{title}} <small>{{subtitle}}</small></h1>

<div class="menu-container">
    <div class="form-group">
        <label>Assigned to</label>
        <select #assignedTo class="form-control">
            <option value="">Not assigned</option>
            <option *ngFor="let assignedTo of assignedToList" value="{{assignedTo.ID}}">
                {{assignedTo.Name}}
            </option>
        </select>
    </div>
</div>

<div class="stats">
    <div>
        <div class="stat-number">{{pushpins.length}} points</div>
    </div>
    <div>
        <div class="stat-number">{{kilometers}} km</div>
    </div>
    <div>
        <div class="stat-number">{{minutes | duration}} min</div>
    </div>
</div>

<div class="point-content">    
    <div class="point" *ngFor="let point of detailedPoints" (click)="onRoutePointClick(point)">
        <route-point [point]="point" [enable-click]="false" ></route-point>
    </div>
</div>