<ng2-slim-loading-bar [color]="'#009688'" [height]="'2px'"></ng2-slim-loading-bar>
<h1 class="title">Route details <small>by {{route.CreatedBy.Name}} {{route.CreatedOn | amTimeAgo}}</small></h1>

<div class="menu-container">
    <div>{{getAssignedTo()}}</div>
</div>

<div class="menu-container">
    <div class="stats">
        <span>{{route.Points.length}} points</span>
        <span>{{route.ExpectedKilometers}} km</span>
        <span>{{route.ExpectedMinutes | duration}} min</span>
    </div>
</div>

<route-point *ngFor="let point of route.Points" [point]="point" enable-click="true"></route-point>

<div class="menu-container">
    <h1>History</h1>
    <history *ngFor="let history of route.Histories" [history]="history"></history>
</div>