@media screen and (min-width: 999px) {
    .map-menu {        
        left: 5px !important;
        right: initial;
    }
}
.map-menu {
    position: absolute;
    top: 61px;
    width: 52px;
    right: 8px;
    z-index: 1;    
}