.tab {
    width: 100%;
}

.tab > button {
    background: none;
    box-shadow: none;    
    border-radius: 0px;
}

.tab > button:hover,
.tab > button:focus,
.tab > button:active
 {
    color: #ffffff !important;
}

.tab > button.active{
    border-bottom: 3px solid #ffffff;
}