header {
    background-color: orange;
    color: #ffffff;
    padding: 15px;
    display: flex;
}

    header h1 {
        margin: 0;
    }

    header button {
        float: right;
    }

@media screen and (min-width: 999px) {
    .menu-wrapper {
        width: 420px !important;
        height: 100% !important;
        margin-right: 75px !important;        
    }

    .menu-wrapper.active {          
        padding-bottom: 0px !important;
        right: 0px !important;
    }

    .menu-wrapper:not(.active) {                
        right: -420px !important;
    }
}

@media screen and (max-width: 998px) {
    .menu-wrapper{
        width: 100%;   
        height: 50%;
    }

    .menu-wrapper.active {        
        bottom: 65px;
    }

    .menu-wrapper:not(.active) {                
        bottom: -60%;
    }
}

.menu-wrapper {
    position: absolute;    
    right: 0px;         
    border-radius: 0px 0px 0px 0px;
    background: white;
    overflow: auto;
    word-break: break-word;
    transition: all 0.5s;
    margin-right: 0px;
    z-index: 2;
    padding-bottom: 250px;
}

