.route-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.route-item:hover{
    background: #ECEFF1;
}

    .route-item .route-title {        
        
    }

    .route-item .route-title > span {        
        
    }

    .route-item .route-title > span:not(:first-child){        
        float: right;
        padding-left: 5px;
    }

    .route-item .route-subtitle > span:not(:last-child){        
        font-weight: bold;
        color: #ff9800;
    }

    .route-item .route-subtitle > span:last-child{        
        float: right;
        padding-left: 5px;
    }
    