<div class="header">
    <ng2-slim-loading-bar [color]="'#FFFFFF'" [height]="'2px'"></ng2-slim-loading-bar>
    <h1 class="title">Change Password <small>Account</small></h1>
</div>

<div class="menu-container" *ngIf="canShowFirstForm">
  <form novalidate #heroForm="ngForm">
    <div class="form-group">
        <label>Enter your email</label>
        <div class="input-group">
          <input type="email" [(ngModel)]="Password.Email" required name="email" #email="ngModel" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn" style="cursor:pointer" title="Search Email" (click)="checkUserToken()"> 
            <i class="material-icons">search</i>
          </span>
        </div>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger"><div [hidden]="!email.errors.required">Email is required</div></div>
        <p *ngIf="!validateEmail() && (email.dirty || email.touched)" class="alert alert-danger">Invalid e-mail!</p>
    </div>
    <button *ngIf="canShowSendTokenButton" (click)="sendToken()" class="btn btn-success pull-right">
        Send-me a Token
    </button>
  </form>
</div>


<div class="menu-container" *ngIf="canShowFirstForm == false">
  <form novalidate #heroForm2="ngForm">
    <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input type="email" disabled [(ngModel)]="Password.Email" required name="email" #email="ngModel" class="form-control" placeholder="Email">
          <span class="input-group-btn" title="Change Email" style="cursor:pointer" (click)="changeEmail()"> 
             <i class="material-icons">autorenew</i>
          </span>
        </div><!-- /input-group -->
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="Password.Password" (change)="checkPassword()" required name="password" #password="ngModel" class="form-control" placeholder="Enter your new password">
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger"><div [hidden]="!password.errors.required">Insert your password</div></div>
        <div *ngIf="checkPasswordLength(password.value) == false" class="alert alert-danger"><div>Password must be 8 or more characteres</div></div>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" [(ngModel)]="Password.PasswordConfirmation" (change)="checkPassword()" required name="confirmation" #confirmation="ngModel" class="form-control" placeholder="Re-enter your new password">
        <div *ngIf="confirmation.errors && (confirmation.dirty || confirmation.touched)" class="alert alert-danger"><div [hidden]="!confirmation.errors.required">Insert your password</div></div>
        <div *ngIf="!checkPassword()" class="alert alert-danger"><div>Password and confirmation must be equals</div></div>
    </div>
    <div class="form-group">
        <label>Authentication Token</label>
        <input type="text" #token="ngModel" (keyup)="toUpercase()" [(ngModel)]="Password.Token" required name="token"  class="form-control" placeholder="Insert your received token">
        <div *ngIf="token.errors && (token.dirty || token.touched)" class="alert alert-danger"><div [hidden]="!token.errors.required">Insert your Token</div></div>
    </div>
    <button  (click)="sendToken()" class="btn btn-info pull-left">
        Send-me Another Token
    </button>

    <button [disabled]="!checkAllProperties()" (click)="onChangePasswordClick()" class="btn btn-success pull-right">
        Change Password
    </button>
  </form>
</div>