@media screen and (max-width: 600px) {
    .search-content {
        width: 98% !important;
    }
}

.search-content {
    /*background: #fff;
    box-shadow: 0px 2px 10px #6b6b6b;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
*/
    background: #fff;
    border-radius: 3px;
    margin: 5px auto;
    position: absolute;
    z-index: 999999999;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 600px;
}

    .search-content span {
        float: right;
    }

    .search-content .search-input-content {
        display: flex;
        margin-top: 11px;
        padding-left: 5px;
    }

        .search-content .search-input-content input {
            background: none;
            border: none;
            width: 100%;
            font-size: 15px;
        }

.logo {
    float: left;
    width: 35px;
    margin: 5px;
}

.search-content button {
    margin: 10px;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    float: right;
}

.autocomplete {    
    transition: linear .1s;
    overflow: hidden;
    height: 0px;
}

.separator {
    margin-top: 11px;    
    height: 0px;
    width: 100%;
    border-color: #e8e7e7;
    border-top: 1px solid #e8e7e7;
}

.autocomplete > div{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.autocomplete > div:hover{
    background: #ECEFF1;
}